@font-face {
  font-family: "iconfont"; /* Project id 3246050 */
  src: url("iconfont.ttf?t=1647500509750") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichudenglu:before {
  content: "\e608";
}

.icon--gerenzhongxin:before {
  content: "\e68b";
}

.icon-shoujizhuti_23zhuti:before {
  content: "\e606";
}
